@font-face {
    font-family: 'Montserrat-Light';
    font-display: swap;
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    font-display: swap;
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    font-display: swap;
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-LightBETA';
    font-display: swap;
    src: url('../fonts/Inter-LightBETA.eot');
    src: url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter-LightBETA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    font-display: swap;
    src: url('../fonts/Inter-Bold.eot');
    src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Medium';
}
.accorn_head {
	width: 100%;
	/*height: 1080px;
	background-image:linear-gradient(rgba(0, 133, 255, .2),rgba(167, 136, 255, 1)), url(../images/unsplash_Oz2ZQ2j8We8.png);
	mix-blend-mode: hue;*/
}
.wrap_accorn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	top: -530px;
}
#home{
	width: 100%;
	position: relative;
	height: 100%;
}
#home2{
	display: none;
}
.accorn {
	width: 870px;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 415px;
}
.disign {
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.create {
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.become {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 594px;
  height: 105px;
  background: #FFFFFF;
  mix-blend-mode: overlay;
  border-radius: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  color: #325DBF;
	-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
}
#link_become {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}
.become:hover {
	-webkit-transform: scale(1.01);
	    -ms-transform: scale(1.01);
	        transform: scale(1.01);
}
.wrap_header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	top: -348px;
	overflow: hidden;
}
.header {
	width: 1290px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 110px 620px;
	grid-column-gap: 600px;
}
.menu_body{
	display: flex;
}
.head_links {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-decoration: none;
	font-family: 'Inter-Bold';
	color: #000000;
	padding-right: 28px;
}
.menu_icon{
	display: none;
}
.each_work {
	width: 630px;
	height: 400px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.each_work:hover {
  -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
        transform: scale(1.02);
}
#works {
	font-family: 'Montserrat-Light';
	font-weight: 400;
	font-size: 40px;
	line-height: 140%;
	text-align: center;
}
#our_form {
      width: 200px;
}
.works_examples {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
	overflow-x: scroll;
}
.wrap_works {
	position: relative;
	top: -291px;
}
.works_examples::-webkit-scrollbar {
	width: 0;
}
.grey_fone {
  background: -o-linear-gradient(292.07deg, #7A7A7A 8.61%, #B6B6B6 91.08%);
  background: linear-gradient(157.93deg, #7A7A7A 8.61%, #B6B6B6 91.08%);
	border-radius: 10px;
	width: 300px;
	height: 400px;
}
.name_of {
	font-family: 'Inter-Bold';
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
  margin: 0
}
.surname_of {
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
  margin: 0;
}
.wrap_photos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.photos {
	display: -ms-grid;
	display: grid;
	width: 1290px;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(4 ,1fr);
	-ms-grid-rows: 1fr 15px 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
	grid-gap: 15px 30px;
}
.photos > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.photos > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.photos > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.photos > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}
.photos > *:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.photos > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.photos > *:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
.photos > *:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}
.drag {
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin: 20px 0 0 0;
	position: relative;
	top: -120px;
}
#team {
	font-weight: 400;
	text-align: center;
	font-size: 40px;
	line-height: 140%;
	position: relative;
	top: 16px;
	font-family: 'Inter-LightBETA';
}
.wrap_team {
	position: relative;
	top: -176px;
}
